@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #1e1e21;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% of the viewport height */
  max-width: 100vw;
}

.container .polaroid {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #eaeaea;
  transform: rotate(-2deg);
}

.container .photograph {
  width: 80vw; /* must control this */
  height: auto; /* To maintain aspect ratio */
  position: relative;
  padding: 3vw 3vw 0 3vw;
  margin: auto; /* To center it */
  perspective: 1000px;
  opacity: 1;
}

.caption {
  font-family: 'Nothing You Could Do', cursive;
  transform: rotate(-2deg);
}

.container .photograph img.televisions {
  position: relative;
  width: 100%;
  height: auto; /* To maintain aspect ratio */
  z-index: 2;
  pointer-events: none;
  opacity: 1;
}

.container .photograph img.polaroid_texture {
  position: absolute;
  top: -1.5vh;
  left: 0;
  width: 100%;
  height: auto; /* To maintain aspect ratio */
  z-index: 2;
  pointer-events: none;
  opacity: 1;
}

.container .photograph video:nth-child(1) {
  position: absolute;
  top: 18.1%;
  left: 51.3%;
  width: 36.3%;
  z-index: 1;
  transform: rotateY(9deg) rotateZ(2deg);
}

.container .photograph video:nth-child(2) {
  position: absolute;
  top: 53.3%;
  left: 46.8%;
  width: 34.7%;
  z-index: 1;
}