@tailwind base;
@tailwind components;
@tailwind utilities;


#container {
  position: relative;
  width: 1024px;
  height: 1024px;
  perspective: 1000px;
}

#container video:nth-child(1) {
  position: absolute;
  top: 180px;
  left: 497px;
  width: 433px;
  height: 300px;
  transform: rotateY(9deg) rotateZ(2deg);
  background-color: black;
}

#container video:nth-child(2) {
  position: absolute;
  top: 550px;
  left: 470px;
  width: 370px;
  height: 298px;
  background-color: black;
}

#mask {
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-color: black;
  z-index: -9999999;
}