@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #1e1e21;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% of the viewport height */
  max-width: 100vw;


}

.container .polaroid {
  border: 15px solid #fff;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #eaeaea;
  transform: rotate(-2deg);
}

.container .photograph {
  width: 700px;
  height: auto; /* To maintain aspect ratio */
  position: relative;
  margin: auto; /* To center it */
  perspective: 1000px;
}

.caption {
  font-family: 'Nothing You Could Do', cursive;
  transform: rotate(-2deg);
}

.container .photograph img {
  position: relative;
  width: 100%;
  height: auto; /* To maintain aspect ratio */
  z-index: 2;
  pointer-events: none;
  opacity: 1;
}

.container .photograph video:nth-child(1) {
  position: absolute;
  top: 18.1%;
  left: 51.3%;
  width: 36.3%;
  z-index: 1;
  transform: rotateY(9deg) rotateZ(2deg);
}

.container .photograph video:nth-child(2) {
  position: absolute;
  top: 53.3%;
  left: 46.8%;
  width: 34.7%;
  z-index: 1;
}

.fade-in {
  opacity: 0;
  min-height: 1.6em;
  transition: opacity 3s;
}

.fade-in.visible {
  opacity: 1;
}

.container .polaroid .image-credit {
  position: absolute;
  bottom: 7px;
  right: 15px;
  font-size: 1em;
  color: #333;
  opacity: 0.7;
  z-index: 3;
}

a.thin-underline {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.fading {
  animation-duration: 2s;
  animation-name: fading;
}

@keyframes fading {
  from {
    color: rgb(16, 237, 93);
  }

  to {
    color: rgb(187 247 208);
  }
}

body {
  overflow: hidden;
}