global
    daemon

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:80
    acl is_serve path_beg -i /video_processor
    acl is_api path_beg -i /api
    acl is_web path_beg -i /web
    use_backend serve-backend if is_serve
    use_backend web-backend if is_web
    use_backend web-backend if is_api

backend serve-backend
    server serve serve:80

backend web-backend
    server web web:3000
