<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>HLS Streaming</title>
  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
</head>

<body>

  <video id="video" autoplay></video>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var video = document.getElementById("video");
      var hlsUrl = "{{ key }}/playlist.m3u8";

      if (Hls.isSupported()) {
        var hls = new Hls();
        hls.loadSource(hlsUrl);
        hls.attachMedia(video);
      }
      // For browsers that can directly play HLS
      else if (video.canPlayType("application/vnd.apple.mpegurl")) {
        video.src = hlsUrl;
      }
    });
  </script>
</body>

</html>